@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0d0d;
  color: white;
  margin: 0;
  font-family: Poppins;
}

a {
  text-decoration: none;
  color: white;
}

.lists {
  margin-top: -100px;
}

footer {
  margin: 50px 0;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #A10035;
  font-weight: bold;
}